body {
    background-color: wheat
}

h1 {
    color: brown;
    text-align: center;
}

h2 {
    text-align: center;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

p {
    font-family: helvetica;
    font-size: 20px;
    text-decoration: none;
}

a {
    color: orange;
    text-decoration: none;
}

table,
th,
td {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #777
}

tr:nth-child(even) {
    background-color: #999
}

th {
    background-color: darkslategrey
}

ul {
    list-style-type: circle;
}

.tagline {
    color: gray;
    font-size: 15px;
    font-style: italic;
}