body {
    background-color: wheat
}

h1 {
    color: brown;
    text-align: center;
}

h2 {
    text-align: center;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

p {
    font-family: helvetica;
    font-size: 20px;
    text-decoration: none;
}

a {
    color: orange;
    text-decoration: none;
}

table,
th,
td {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #777
}

tr:nth-child(even) {
    background-color: #999
}

th {
    background-color: darkslategrey
}

ul {
    list-style-type: circle;
}

.newbutton {
    background-color: brown;
    color: white;
}

.usertyping {
    cursor: help;
    color: white;
    background-color: rgb(244, 110, 110);
}

.tagline {
    color: gray;
    font-size: 15px;
    font-style: italic;
}

.coke {
    color: red;
    font-family: 'Coca Cola ii', sans-serif;
    font-size: xx-large;
}

.bella {
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif'

}

@media (min-width: 576px) {
    body {
        margin: 10px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    header {
        text-align: center;
        padding: 10px;
    }

    header .nav {
        margin-top: 10px;
        list-style: none;
    }

    header .nav li {
        display: inline;
        margin-right: 10px;
    }

    footer {
        padding: 10px;
        text-align: center;
    }
}