body {
    background-color: wheat
}

h1 {
    color: brown;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    font-family: helvetica;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

a {
    color: orange
}

subtitle {
    font-weight: bold;
}

ul {
    list-style-type: circle;
}

footer {
    text-align: center;
}

header {
    text-align: center;
}

.tagline {
    color: gray;
    font-size: 15px;
    text-align: center;
}