<footer>
    <nav>
        <!-- <a href="https://webpages.charlotte.edu/aames2/">Charlotte.edu</a>
        ||
        <a href="https://github.com/aames2/">Github</a>
        ||
        <a href="https://aames2.github.io/">Github.io</a>
        ||
        <a href="https://aames2.github.io/itis3135/">ITIS 3135 Github Pages</a>
        ||
        <a href="https://freecodecamp.org/aames2">freeCodeCamp</a>
        ||
        <a href="https://www.codecademy.com/profiles/aames2/">Codecademy</a>
        ||
        <a href="https://www.linkedin.com/in/austin-ames-56751b18a">LinkedIn</a> -->

    </nav>
    <p>&copy; 2023 Hailey's Crochet Creations. All rights reserved.</p>

    <p><a href="https://validator.w3.org/check?uri=referer">HTML Validation</a> | <a
            href="https://jigsaw.w3.org/css-validator/check/referer">CSS Validation</a>
        <!-- <p class="tagline">Keep Moving Forward</p> -->
</footer>