<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/aames2/">Charlotte.edu</a>
        ||
        <a href="https://github.com/aames2/">Github</a>
        ||
        <a href="https://aames2.github.io/">Github.io</a>
        ||
        <a href="https://aames2.github.io/itis3135/">ITIS 3135 Github Pages</a>
        ||
        <a href="https://freecodecamp.org/aames2">freeCodeCamp</a>
        ||
        <a href="https://www.codecademy.com/profiles/aames2/">Codecademy</a>
        ||
        <a href="https://www.linkedin.com/in/austin-ames-56751b18a">LinkedIn</a>
        <hr>

    </nav>
    <p>Page Built by <a href="https://aames2.github.io/itis3135/amesenterprises.net/"> Ames Enterprises
        </a>&copy; 2023</p>
    <p>Certified in: <a href="https://www.freecodecamp.org/certification/aames2/responsive-web-design"> HTML/CSS</a></p>
    <p>Certified in: <a
            href="https://www.freecodecamp.org/certification/aames2/javascript-algorithms-and-data-structures">
            JS</a></p>
    <a href="https://validator.w3.org/check?uri=referer">
        <a href="https://validator.w3.org/check?uri=referer">
            <img style="border:0;width:88px;height:31px"
                src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML">
        </a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer">
            <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss"
                alt="Valid CSS">
        </a>
        <p class="tagline">Keep Moving Forward</p>
</footer>