<header>
    <h1> Austin Ames's Awesome Alligator || ITIS 3135 </h1>
    <nav>
        <a href="./">Homepage</a>
        ||
        <a href="introduction.html">Introduction</a>
        ||
        <a href="contract.html">Contract</a>
        ||
        <a href="tables.html">HTML Tables</a>
        ||
        <a href="forms.html">HTML Forms</a>
        ||
        <a href="website_evaluations.html">Website Evaluations</a>
    </nav>
    <nav class="2nd">
        <a href="stuff\VERY  COOL&.htm">Crappy Webpage</a>
    </nav>
</header>